<%- include("partials/header.ejs") %>
    <main>
        <div class="box">
            <img src="assets/memoji.png" alt="Memoji of me." height="150px">
            <h2>About us</h2>
            <p>Hey, my name is Oshri Agronov and I'm a software developer.<br>
                This project is blog that built as part of my study's in the course "Fullstack developer" of Dr. Angela Yu.<br>
                Hope you enjoy my work! to see more project from me, go and checkouts my Github profile 👇<br>
                <a href="https://github.com/oshriv65">Click here</a>
            </p>
        </div>
    </main>
</body>

<%- include("partials/footer.ejs") %>
</html>