<%- include("partials/header.ejs") %>
    <main>
        <div class="box">
            <img src="assets/memoji2.png" alt="Memoji of me." height="150px">
            <h2>Contact us</h2>
            <p>Hey, feel free to drop some tips and feedback about <br>
                the project in my repository in Github 👇<br>
                <a href="https://github.com/oshriv65">Click here</a>
            </p>
        </div>
    </main>
</body>

<%- include("partials/footer.ejs") %>
</html>